img {
  width: 100%;
  border-radius: inherit;
  height: inherit;
  border: none;
}

.menu {
  width: 85vw;
}

.wrapper {
  width: 90%;
  margin: 30px 5% 0 5%;
}

.header {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.header .pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.5), -1px -1px 4px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--card-background);
}

.header .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-credit {
  font-size: 13px;
  color: var(--example-label);
}

.header .info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  padding: 3px;
}

.header .info div {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px;
}

.header .info div .nr {
  color: var(--example-lable);
  font-size: 12px;
}

.header .info div p,
.header .info div svg {
  margin: 0;
  font-size: 16px;
}
.header .info div svg {
  color: #fdcc0d;
}

.content {
  padding: 5px;
  margin-top: 20px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
}

.footer button {
  border-radius: 0 !important;
  font-size: 13px;
}
