.formControl{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.formControl label{
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 3px;
}

.formControl .input2Column{
    display: grid;
    grid-template-columns: 75% 25%;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.secondColumn *{
    font-size: 1.2rem !important;
}

.input2Column .secondColumn{
    background-color: #EFEFEF;
    color: #838383;
    border-left: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formControl input{
    border: none;
    padding: 8px 10px;
    background-color: white;
}

.formControl input::placeholder{
    color: var(--placeholder-text-color);
}

.formControl input:focus{
    outline: None;
}

.formControl input:-webkit-autofill,
.formControl input:-webkit-autofill:hover, 
.formControl input:-webkit-autofill:focus{
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: black !important;
}