.wrapper {
  height: 100%;
  overflow: auto;
}

.staticMap {
  background-color: rgb(144, 238, 144, 0.5);
  width: 85%;
  height: 30%;
  margin: 0 7.5%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form {
  width: 85%;
  margin: 0 7.5%;
  margin-bottom: 7.5%;
  display: flex;
  flex-direction: column;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

.pickerWrapper {
  margin: 20px 0;
}

.timePickers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.availableSlotsBox{
  margin-top: 10px;
  padding: 5px;
}

.availableSlotsBox h4{
  margin: 20px 15%;
  text-align: center;
  font-size: 15px;
  color: black;
  background-color: var(--image-placeholder);
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  letter-spacing: 1px;
}

.availableSlotsBox h5{
  margin: 0;
  margin-bottom: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}

.availableSlots{
  /* reset */
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}


.availableSlotsBox > p{
  text-align: center;
  font-style: italic;
  color: var(--exmaple-lable);
}

.availableSlots > li {
  margin-bottom: 5px;
  /* border-bottom: 1px solid var(--primary); */
  border-radius: 2px;
  text-align: center;
  padding: 2px 0;
}


.submitBtn {
  margin-bottom: 40px;
}

.registerSpot label {
  font-size: 14px !important;
}
