.wrapper {
  height: 100%;
  overflow: auto;
}

.mapContainer{
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

.gmap {
  width: 100%;
  height: 100%;
}

.wrapper .content{
  width: 85%;
  margin: 0 7.5%;
  margin-bottom: 7.5%;
}

.form {
  width: 100%;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

.pickerWrapper {
  margin: 20px 0;
}

.timePickers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

.addedSlotsBox{
  margin-top: 10px;
  padding: 5px;
}

.addedSlotsBox h4{
  margin: 20px 15%;
  text-align: center;
  font-size: 15px;
  color: black;
  background-color: var(--image-placeholder);
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  letter-spacing: 1px;
}

.addedSlotsBox > p{
  text-align: center;
  font-style: italic;
  color: var(--exmaple-lable);
  font-size: 13px;
}

.addedSlots,
.addedSlots .day ul{
  /* reset */
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}


.addedSlots .day{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px 10px 10px 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px var(--card-shadow), 2px 2px 5px 1px var(--card-shadow);
}

.addedSlots .day h3{
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.addedSlots .day > div{
  border-radius: 0px;
  height: 3px;
  width: 35px;
  background-color: var(--primary);
  margin-bottom: 20px;
}

.addedSlots .day ul > li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 6px 4px;
  border: 1px dashed var(--primary);
  border-radius: 5px;
}

.addedSlots .day ul > li .timeSlotInfo{
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  display: flex;
}

.addedSlots .day ul > li .timeSlotInfo .timeSlotContainer{
  width: 57px;
  display: flex;
  justify-content: flex-end;
}

.addedSlots .day ul > li .timeSlotInfo span{
  margin: 0 5px 0 7px;
}

.addedSlots .day ul > li > button{
  width: auto !important;
}

.addedSlots .day ul > li > button > svg{
  color: #FF0000;
  font-size: 18px;
}


.submitBtn {
  margin-bottom: 40px;
}

.registerSpot label {
  font-size: 14px !important;
}

/* Validation Styles */
.timeError{
  text-align: center;
  color: #FF0000;
  font-weight: 800;
  font-size: 13px;
}
