.ButtonBase {
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  width: 100%;
  height: inherit;
  border-radius: 5px !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 100%;
  padding: 15px 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: black;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}

.primary-invert {
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.delete {
  background-color: var(--negativeCTA);
  color: white;
}

.deactivate {
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--negativeCTA);
  color: var(--negativeCTA);
  width: 142px;
}

.edit {
  font-size: 10px;
  width: 69px;
  background-color: var(--primary);
}

.delete-icon {
  background-color: var(--negativeCTA);
  color: white;
  width: 34px;
}

.button * {
  font-size: inherit;
}
