.accordionDetails {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.accordionDetails .leftButtons,
.accordionDetails .rightButtons {
  display: flex;
  gap: 10px;
}

/* .accordionDetails .leftButtons:first-child {
  margin-right: 5px;
}

.accordionDetails .edit {
  justify-self: flex-end;
} */

.addSpot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.addSpot div {
  width: 50px;
}
.addSpot a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addSpot svg {
  color: black;
  font-size: 42px;
}
