.filterBox{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 0 20px;
}

.filterBox select{
  background-color: inherit;
  padding: 5px 5px;
  border-radius: 4px;
  outline: none;
}

.filterBox select:focus{
  border: none;
  outline: 2px solid var(--primary);
}

.accordionDetails {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}

.accordionDetails .leftButtons,
.accordionDetails .rightButtons {
  display: flex;
  gap: 10px;
}

.addSpot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.addSpot div {
  width: 50px;
}
.addSpot a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addSpot svg {
  color: black;
  font-size: 42px;
}
