.formControl{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.formControl label{
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 3px;
}

.formControl input{
    padding: 8px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    color: black;
}

.formControl input::placeholder{
    color: var(--placeholder-text-color);
}

.formControl input:focus{
    outline: None;
}

.formControl input:-webkit-autofill,
.formControl input:-webkit-autofill:hover, 
.formControl input:-webkit-autofill:focus{
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: black !important;
}