.searchPage{
    position: relative;
    animation: slide-up 0.4s ease-in-out forwards;
}

@keyframes slide-up{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 0%;
    }
}

.headerMain{
    width: 100%;
    box-shadow: 0 2px 2px var(--card-shadow);
    padding-bottom: 20px;
}

.searchInputBar{
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    background-color: var(--image-placeholder);
    padding: 10px;
    width: 90%;
    margin: 0 5%;
    border-radius: 5px;
}

.searchInputBar .searchIcon{
    display: flex;
    justify-self: center;
    align-items: center;
}

.searchInputBar .inputBar{
    padding: 0 5px;
    border: none;
    background-color: inherit;
    min-width: 0;
}

.searchInputBar .inputBar::placeholder{
    color: var(--placeholder-text-color);
}
.searchInputBar .inputBar:focus{
    outline: none;
}

.searchInputBar select{
    border: none;
    border-left: 2px solid gray;
    background-color: inherit;
    color: black;
    outline: none !important;
    padding: 0 3px;
}


