.chat-msg {
  margin: 5px;
  width: fit-content;
  padding: 10px;
  border-radius: 7px;
  max-width: 70%;
  display: flex;
  flex-flow: column;
}

.sent {
  background-color: lightblue;
  align-self: flex-end;
}

.received {
  background-color: rgb(200, 200, 200);
  align-self: flex-start;
}

.chat-msg-time {
  color: var(--example-label);
  font-size: 11px;
  align-self: flex-end;
  justify-self: flex-end;
  margin: 1px;
}
