.chat-msg {
  margin: 5px;
  width: fit-content;
  padding: 10px;
  border-radius: 7px;
  max-width: 70%;
}

.sent {
  background-color: lightblue;
  align-self: flex-end;
}

.received {
  background-color: rgb(200, 200, 200);
  align-self: flex-start;
}
