.form {
    width: 85%;
    margin: 0 7.5%;
    display: flex;
    flex-direction: column;
    margin-top: 15%;

}

.backLink{
    width: 20px;
}
.back{
    position: relative;
    left: -16px;
    color: black;
}

.form h1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginBtn{
    background-color: var(--primary);
}