.wrapper{
    height: 100%;
    overflow: auto;
}

.form {
    width: 85%;
    margin: 0 7.5%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.form h1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.form p{
    font-size: 11px;
    font-weight: 600;
}

.form p .Link{
    color: black;
    padding: 0 2px;
    margin: 0;
    text-decoration: underline;
}
