.accordionDetails{
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

.accordionDetails .buttons{
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 10px;
    height: 40px;
}

.buttons button{
    font-size: 12px;
}

/* The Add Icon */
.registerCar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.registerCar a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
}

.registerCar a button{
    justify-content: center !important;
}
.registerCar svg{
    color: black;
    font-size: 42px;
}

/* No cars */
.noCars{
    color: var(--example-label);
    font-style: italic;
    text-align: center;
}